<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
  <link rel="stylesheet" th:href="@{/css/createEdit.css}">
</head>
<body>
<div class="header">
  <div>
    <h1>
      <a th:href="@{/}" class="blogName">Skwita Blog</a>
    </h1>
  </div>
  <div class="buttons">
    <a class="authThing button" th:if="${user == null}" th:href="@{/login}">Sign in</a>
    <a class="authThing button" th:if="${user == null}" th:href="@{/register}">Sign up</a>
    <p class="authThing username" th:if="${user != null}" th:text="${user.getUsername()}"></p>
    <form th:if="${user != null}" th:action="@{/logout}" th:method="POST">
      <input class="authThing button"  type="submit" value="logout">
    </form>
  </div>
</div>

<div class="formParent">
  <form class="form" th:action="@{/edit/{id}(id=${post.getId()})}" th:method="PATCH" th:object="${post}">
    <div class="margin">
      <p class="title">Edit post</p>
    </div>
    <label class="text margin" for="title">Enter title</label>
    <input class="textField margin" type="text" th:field="*{title}" id="title">

    <p class="margin" style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    <label class="text margin" for="text">Enter text</label>
    <textarea class="textField margin" th:field="*{text}" id="text"></textarea>

    <p class="margin" style="color: red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <input type="hidden" th:field="*{user}">
    <div class="buttons margin">
      <input class="button" type="submit" value="Save Post">
      <a class="button cancel" th:href="@{/}" th:text="Cancel"></a>
    </div>
  </form>
</div>
</body>
<script>
  (function () {
    if (localStorage.getItem('theme') === 'theme-green') {
      localStorage.setItem('theme', 'theme-green');
      document.documentElement.className = 'theme-green';
    } else {
      localStorage.setItem('theme', 'theme-pink');
      document.documentElement.className = 'theme-pink';
    }
  })();
</script>
</html>