<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link type="text/css" rel="stylesheet" th:href="@{static/css/home.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

<div class="header">
    <div>
        <h1>
            <a th:href="@{/}" class="blogName">Skwita Blog</a>
        </h1>
    </div>
    <div class="buttons">
        <a class="authThing button"
           th:if="${user == null}"
           th:href="@{/login}">Sign in</a>
        <a class="authThing button"
           th:if="${user == null}"
           th:href="@{/register}">Sign up</a>
        <a class="authThing username"
           th:if="${user != null}"
           th:href="@{/user/{userID}(userID = ${user.getId()})}"
           th:text="${user.getUsername()}"></a>
        <form th:if="${user != null}"
              th:action="@{/logout}"
              th:method="POST">
            <input class="authThing button" type="submit" value="logout">
        </form>
    </div>
</div>

<div class="postsContainer">
    <div class="post"
         th:each="post:${posts}"
         th:classappend="${post.getUser().getRolesNames().contains('ROLE_ADMIN')} ? adminPost">
        <p class="title field"
           th:text="${post.getTitle()}">TITLE</p>
        <a class="author field"
           th:text="${post.getUser().getUsername()}"
           th:href="@{/user/{userID}(userID = ${post.getUser().getId()})}">USER</a>
        <p class="text field"
           th:text="${post.getText()}">TEXT</p>

        <div class="commentsContainer">
            <div class="comment"
                 th:each="comment:${post.getComments()}"
                 th:classappend="${comment.getUser().getRolesNames().contains('ROLE_ADMIN')} ? adminComment">
                <p class="author field"
                   th:text="${comment.getUser().getUsername()}"></p>
                <p class="text field commentText"
                   th:text="${comment.getText()}"></p>
                <form th:if="${user != null &&
                            (comment.getUser().getId() == user.getId() ||
                            #authorization.expression('hasRole(''ROLE_ADMIN'')') ||
                            post.getUser().getId() == user.getId())}"
                      th:action="@{/post/{postId}/comment/delete/{commentId}(postId=${post.getId()}, commentId=${comment.getId()})}"
                      th:method="DELETE">
                    <input class="button" type="submit" value="delete">
                </form>
            </div>
            <form class="commentField"
                  th:if="${user != null}"
                  th:action="@{/post/{id}/comment(id=${post.getId()})}"
                  th:method="POST"
                  th:object="${comment}">
                <input class="commentInput" type="text" th:field="*{text}">
                <input class="button" type="submit" value="comment">
                <p class="margin" style="color: red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
            </form>
        </div>

        <div class="buttons">
            <div class="buttonCouple">
                <form th:if="${user != null &&
                       (post.getUser().getId() == user.getId() ||
                       #authorization.expression('hasRole(''ROLE_ADMIN'')'))}"
                      th:action="@{/edit/{id}(id=*{post.getId()})}"
                      th:method="GET">
                    <input class="button" type="submit" value="Edit post">
                </form>
                <form th:if="${user != null &&
                      (post.getUser().getId() == user.getId() ||
                      #authorization.expression('hasRole(''ROLE_ADMIN'')'))}"
                      th:action="@{/delete/{id}(id=*{post.getId()})}"
                      th:method="DELETE">
                    <input class="button" type="submit" value="Delete post">
                </form>
            </div>
            <div class="buttonCouple">
                <p class="numLikes"
                   th:text="${post.getUserLikes().size()}"></p>
                <!--              th:action="@{post/{id}/like(id=${post.getId()})}"-->
                <div class="likeForm">
                    <button class="like"
                            value=""
                            th:classappend="${user != null && post.getUserLikesIds().contains(user.getId())} ? likePressed"
                            th:onclick='sendRequest()'
                            th:attr="onclick=|sendRequest('${post.getId()}')|" ></button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="postCreation">
    <form th:if="${user != null}"
          th:action="@{/new}"
          th:method="GET">
        <input class="button" type="submit" value="New Post">
    </form>
</div>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
</body>
<script>
    const socket = new SockJS('/')
    const stompClient = Stomp.over(socket)
    window.addEventListener('load', () => {
        stompClient.connect({}, (frame) => {

            stompClient.subscribe('/topic/errors', (greeting) => {
                console.warn('errors: ' + greeting.body)
            });

            stompClient.subscribe('/topic/greetings', (greeting) => {
                console.log('greetings: ' + greeting.body)
            });
        });


    })

    function sendRequest(postId) {
        stompClient.send(`/post/${postId}/like`, {}, JSON.stringify({postId}))
    }
</script>
</html>