<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/loginRegister.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="POST" th:action="@{/login}">
            <input type="text" placeholder="username" name="username" id="username"/>
            <input type="password" placeholder="password" name="password" id="password"/>
            <p class="errors" th:if="${param.error}">Invalid username or password</p>
            <button type="submit">login</button>
            <p class="message">Not registered? <a th:href="@{/register}">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>