<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:method="POST" th:object="${user}">
  <label for="username">Enter username</label>
  <input type="text" name="username" id="username" th:field="*{username}">
  <br>
  <label for="password">Enter password</label>
  <input type="password" name="password" id="password" th:field="*{password}">
  <br>
  <label for="confirm">Confirm your password</label>
  <input type="password" name="confirm" id="confirm" th:field="*{passwordConfirm}">
  <input type="submit" value="register">
</form>
</body>
</html>